<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haya.tabulae"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="tabulae.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.haya.tabulae.models.Item,
            				com.haya.tabulae.models.Category,
            				com.haya.tabulae.models.ListedItem,
            				com.haya.tabulae.models.Market,
            				com.haya.tabulae.models.Price" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewMarketActivity"
            android:label="@string/title_activity_new_market" >
        </activity>
        <activity
            android:name=".activities.ItemDetailActivity"
            android:label="@string/title_activity_item_detail" >
        </activity>
        <activity
            android:name=".activities.ItemsActivity"
            android:label="@string/title_activity_items"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.MarketsActivity"
            android:label="@string/title_activity_markets"
             >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.haya.tabulae.activities.DonateActivity"
            android:label="@string/title_activity_donate" >
        </activity>
    </application>

</manifest>
